@model IEnumerable<WebApplication1.Models.Cart>

<hr />
<h4>Корзина</h4>
<hr />

<br />
<br />
<table class="table">
    <tr>
        <td>
            Наименование
        </td>
        <td>
            Цена
        </td>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
    </table>

    <br />
    <br />
    @Html.ActionLink("Оформить", "CartOut")
